
body {
    font-family: "Roboto", "Raleway";
    color: #212121;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0px;
}

/* header style */

.list-background {
    color: #FFFFFF;
}

.list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.header-border-bottom-color {
    border-bottom: 1px solid #ECECEC;
    padding: 24px 0 25px;
}

.web-text-style {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.web-text-style:hover {
    color: #2196F3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.webstudio-text-style {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.webstudio-text-style:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.studio-text-style,
.portfolio-text-style,
.contacts-text-style {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.studio-text-style:hover,
.portfolio-text-style:hover,
.contacts-text-style:hover,
.mail-text-style:hover,
.number-text-style:hover {
    color: #2196F3;
}

.studio-text-style:focus,
.portfolio-text-style:focus,
.contacts-text-style:focus,
.mail-text-style:focus,
.number-text-style:focus {
    color: #2196F3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-text-style:hover .contacts-mail {
    fill: #2196F3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.number-text-style:hover .contacts-phone {
    fill: #2196F3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-text-style:focus .contacts-mail {
    fill: #2196F3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.number-text-style:focus .contacts-phone {
    fill: #2196F3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-text-style {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.contacts-mail {
    fill: #757575;
    margin-right: 10px;
}

.number-text-style {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    display: flex;
    align-items: center;
    
}

.contacts-phone {
    fill: #757575;
    margin-right: 10px;
}

.box {
    display: flex;
}

.flex {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    padding-left: 0px;
    margin-left: 93px;
    margin-right: auto;

}

.line {
    margin-right: 50px;
}

.contacts-list {
    display: flex;
    align-items: center;
    padding-left: 0px;
    margin-left: auto;
}

/*underline webstudio page*/

.underline-webstudio-page {
    position: relative;
    color: #2196F3;
}

.underline-webstudio-page::after {
    content: "";
    display: block;
    position: absolute;
    width: 48px;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    margin-top: 28px;
}

/*underline portfolio page*/

.underline-porfolio-page {
    position: relative;
    color: #2196F3;
}

.underline-porfolio-page::after {
    content: "";
    display: block;
    position: absolute;
    width: 78px;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    margin-top: 28px;
}

/*footer style*/

.footer-background-style {
    background-color: #2F303A;
    padding: 60px 0;
}

.footer-line-flex {
    display: flex;
    flex-direction: column;
    padding: 0;
}

address {
    margin-top: 20px;
}

.footer-line-style {
    list-style-type: none;
    margin-top: 9px;
}

.footer-line-style-map {
    list-style-type: none;
    margin-top: 0px;
}



.footer-webstudio-text-style {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-webstudio-text-style:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-map-text-style {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail-text-style,
.footer-number-text-style {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-map-text-style:hover,
.footer-mail-text-style:hover,
.footer-number-text-style:hover {
    color: #2196F3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-map-text-style:focus,
.footer-mail-text-style:focus,
.footer-number-text-style:focus {
    color: #2196F3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fellow-style {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.fellow-flex {
    display: flex;
    flex-direction: column;
}

.footer-icon-flex {
    display: flex;
    padding: 0;
    list-style-type: none;
    margin-top: 20px;
    gap: 10px;
    
}

.footer-icon-style {
    width: 44px;
    height: 44px;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-social-link:hover {
    background: #2196F3;
}

.footer-social-link:focus {
    background: #2196F3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-flex {
    display: flex;
    gap: 70px;
    align-items: baseline;
}

.navigation-position {
    padding: 0px;
}
/* portfolio page style */

/* maine style */

.button-flex {
    display: flex;
    justify-content: center;
    padding: 0px;
}

.btn-hover {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-hover:hover {
    cursor: pointer;
    background: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-hover:focus {
    cursor: pointer;
    background: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-style {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    height: 38px;
    margin-right: 8px;
}

.all-style {
    width: 73px;
}

.sites-style {
    width: 125px;
}

.app-style {
    width: 112px;
}

.design-style {
    width: 103px;
}

.marketing-style {
    width: 130px;
}

.card-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.card-line {
    flex-basis: calc((100% - 60px) / 3);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-line:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay-text-style {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.text-card-position {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    background: #FFFFFF;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.card-position {
    position: relative;
    overflow: hidden;
}


.card-position:hover .overlay {
    transform: translatey(0);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} 

.overlay {
    top: 0;
    left: 0;
    position: absolute;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    padding-bottom: 63px;
    width: 100%;
    height: 100%;
    transform: translatey(101%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(33, 150, 243, 0.9);
}

.header-text-style {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.paragraph-text-style {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 4px;
}


/* webstudio page style */

/* main */

.maine-background-color {
    padding: 200px 0;
    background-color: #2F303A;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/background.png);
    max-width: 1600px;
    margin: 0 auto;
}

.header-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-style-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    max-width: 696px;
}

.botton-text-style {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background: #2196F3;
    color: #FFFFFF;
    border: none; 
    border-radius: 4px;
    width: 216px;
    height: 50px;
    margin-top: 30px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.botton-text-style:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* hidden header */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* section company advantages style */

.border-adv {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
}

section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits-header-style {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.list-adv-flex {
    display: flex;
    padding-left: 0px;
    gap: 30px;
}

.adv-line {
    width: 270px;
}

.benefits-paragraph-style {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

/* company services style */

/*over img style*/

.over-border {
    position: relative;
    display: flex;
    justify-content: center;
}

.over-border::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}

.over-img {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 27px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;
    color: #FFFFFF;
}

.section-serv {
    padding-top: 0;
}
.company-services-style {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
}

.servs-list-flex {
    display: flex;
    padding-left: 0px;
    gap: 30px;
    margin-top: 50px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*company team style*/

.item-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.list-item {
    list-style-type: none;
    
}

.list-item:not(:first-child) {
    margin-left: 10px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link {
    fill: #AFB1B8;
    width: 44px;
    height: 44px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
    fill: #FFFFFF;
    background: #2196F3;
    border-radius: 50%;
}

.social-link:focus {
    fill: #FFFFFF;
    background: #2196F3;
    border-radius: 50%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-company-team-style {
    background-color: #F5F4FA;
}

.team-list-flex {
    display: flex;
    gap: 30px;
    padding-left: 0px;
    margin-top: 50px;
}

.team-style {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-line-style {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    list-style-type: none;
}

.card-text-position {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
 
.name-style {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.profession-style {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 16px;
}


.partner-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin-top: 50px;
    gap: 30px;

}

.partner-line {
    list-style-type: none;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.partner-link {
    fill: #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.partner-link:hover {
    fill: #2196F3;
}

.partner-line:hover {
    border: 1px solid #2196F3;
    border-radius: 4px;
}

.partner-line:focus {
    border: 1px solid #2196F3;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.partner-link:focus {
    fill: #2196F3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.partner-position {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*modal*/

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #0000001A;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin-left: 490px;
    margin-top: 8px;
}

.icon-close {
    fill: #000000;
    cursor: pointer;
}

.icon-close:hover {
    fill: #2196F3;
}

/*form style*/

.data-form {
    position: absolute;
}

.form-header {
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.03em;
    margin-top: 40px;
}

.inputs {
    margin-top: 12px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
}


.form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.form-style {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
    width: 22px;
    height: 14px;
}


.icon-input {
    position: relative;
}

.icon-svg {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}

.form-link-style {
   text-decoration-line: underline;
   color: #2196F3;
}

.agreement-text {
    width: 400.62px;
    height: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.checkbox-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.checkbox-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8.38px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .checkbox-icon {
    background-color: #2196F3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
}

.checkbox-position {
    width: 425px;
    height: 24px;
    margin-left: 52px;
}

.form-checkbox-lable {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-icon {
    cursor: pointer;
}

.form-input {
    box-sizing: border-box;
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    resize: none;
    cursor: pointer;
}

.form-input:focus {
    border: 1px solid #2196F3;
}

.form-input:focus + .icon-svg {
    fill: #2196F3;
}

.form-field input {
   padding-left: 42px;
}

.button-submit {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-top: 30px;
    margin-left: 164px;
    width: 200px;
    height: 50px;
    background: #2196F3;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

textarea {
    resize: none;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.comment {
    padding-left: 16px;
    padding-top: 12px;
    outline: none;
    resize: none;
    cursor: pointer;
}

.comment::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.comment:focus {
    border: 1px solid #2196F3;
    border-radius: 4px;
}

/*footer form style*/

.footer-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: #2F303A;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding-top: 0px;
    padding-left: 16px;
    width: 358px;
    height: 50px;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
}

.footer-form::placeholder {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-button {
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    border: none;
    margin-left: 12px;
    cursor: pointer;
}

.send-icon {
    margin-left: 10px;
}




